<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.arc.cdt.debug.seecode.core.CMPDType">
<intAttribute key="SeeCodeDisplay.globals.profilingColumns" value="0"/>
<mapAttribute key="SeeCodeDisplay.globals.valueUpdates"/>
<intAttribute key="SeeCodeDisplay.image.profilingColumns" value="0"/>
<mapAttribute key="SeeCodeDisplay.image.valueUpdates"/>
<intAttribute key="com.arc.cdt.debug.seecode.core.CMPD_COUNT" value="4"/>
<intAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_INSTANCE_COUNT_0" value="1"/>
<intAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_INSTANCE_COUNT_1" value="1"/>
<intAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_INSTANCE_COUNT_2" value="1"/>
<intAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_INSTANCE_COUNT_3" value="1"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_NAME_0" value="grmain"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_NAME_1" value="displaymain"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_NAME_2" value="rendermain0"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_NAME_3" value="rendermain1"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_PATH_0" value=" /home/pickens/workspace/test/workspace2/graphics_pipeline_LINUX/code/grmain/grmain"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_PATH_1" value=" /home/pickens/workspace/test/workspace2/graphics_pipeline_LINUX/code/displaymain/displaymain"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_PATH_2" value=" /home/pickens/workspace/test/workspace2/graphics_pipeline_LINUX/code/rendermain0/rendermain0"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROCESS_PATH_3" value=" /home/pickens/workspace/test/workspace2/graphics_pipeline_LINUX/code/rendermain1/rendermain1"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROJECT_NAME_0" value="graphics_pipeline_LINUX"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROJECT_NAME_1" value="graphics_pipeline_LINUX"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROJECT_NAME_2" value="graphics_pipeline_LINUX"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_PROJECT_NAME_3" value="graphics_pipeline_LINUX"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_TARGET_CPU_0" value="ac"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_TARGET_CPU_1" value="ac"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_TARGET_CPU_2" value="ac"/>
<stringAttribute key="com.arc.cdt.debug.seecode.core.CMPD_TARGET_CPU_3" value="ac"/>
<mapAttribute key="com.arc.cdt.debug.seecode.core.GUIHILI_PROPS_0">
<mapEntry key="ARC_target" value="ARC_simulator"/>
<mapEntry key="SIDLL1" value="SCDIR/bin/plotter,plot=1"/>
<mapEntry key="ARC_mpy" value="1"/>
<mapEntry key="profiling_window" value="1"/>
<mapEntry key="Local_symbols" value="1"/>
<mapEntry key="Program_toggles_on" value="stop_all"/>
<mapEntry key="cmd_line_option" value="-prop=ident=0 -nogoifmain -prop=instrs_per_pass=500 -cmpd=soc -toggle=deadbeef=1"/>
<mapEntry key="A7_mmu" value="1"/>
<mapEntry key="ARC_ExtDLL1" value="name=ssramInst_mmap_bank1_ram01.initiator,out=0x00e00000"/>
<mapEntry key="Directory_translation" value="/cygdrive/c,c:/"/>
<mapEntry key="ARC_ExtDLL2" value="name=ssramInst_mmap_bank1_ram02.initiator,out=0x00e00000"/>
<mapEntry key="ARC_ExtDLL3" value="name=ssramInst_mmap_bank1_ram03.initiator,out=0x00e00000"/>
<mapEntry key="ARC_ExtDLL4" value="name=ssramInst1.initiator,out=0x02000000"/>
<mapEntry key="ARC_ExtDLL5" value="name=ssramInst2.initiator,out=0x02000000"/>
<mapEntry key="ARC_ExtDLL6" value="name=ssramInst3.initiator,out=0x02000000"/>
<mapEntry key="which_arc" value="ARC7"/>
</mapAttribute>
<mapAttribute key="com.arc.cdt.debug.seecode.core.GUIHILI_PROPS_1">
<mapEntry key="Local_symbols" value="1"/>
<mapEntry key="ARC_target" value="ARC_simulator"/>
<mapEntry key="Program_toggles_on" value="stop_all"/>
<mapEntry key="SIDLL1" value="SCDIR/bin/plotter,plot=1"/>
<mapEntry key="ARC_mpy" value="1"/>
<mapEntry key="cmd_line_option" value="-prop=ident=0 -nogoifmain -prop=instrs_per_pass=500 -cmpd=soc -toggle=deadbeef=1"/>
<mapEntry key="profiling_window" value="1"/>
<mapEntry key="A7_mmu" value="1"/>
<mapEntry key="ARC_ExtDLL1" value="name=ssramInst_mmap_bank1_ram01.target,in=0x00e00000:0x01ffffff"/>
<mapEntry key="Directory_translation" value="/cygdrive/c,c:/"/>
<mapEntry key="ARC_ExtDLL2" value="name=ssramInst1.target,in=0x02000000:0x02000fff"/>
<mapEntry key="which_arc" value="ARC7"/>
</mapAttribute>
<mapAttribute key="com.arc.cdt.debug.seecode.core.GUIHILI_PROPS_2">
<mapEntry key="Local_symbols" value="1"/>
<mapEntry key="ARC_target" value="ARC_simulator"/>
<mapEntry key="Program_toggles_on" value="stop_all"/>
<mapEntry key="SIDLL1" value="SCDIR/bin/plotter,plot=1"/>
<mapEntry key="ARC_mpy" value="1"/>
<mapEntry key="cmd_line_option" value="-prop=ident=0 -nogoifmain -prop=instrs_per_pass=500 -cmpd=soc -toggle=deadbeef=1"/>
<mapEntry key="profiling_window" value="1"/>
<mapEntry key="A7_mmu" value="1"/>
<mapEntry key="ARC_ExtDLL1" value="name=ssramInst_mmap_bank1_ram02.target,in=0x00e00000:0x01ffffff"/>
<mapEntry key="Directory_translation" value="/cygdrive/c,c:/"/>
<mapEntry key="ARC_ExtDLL2" value="name=ssramInst2.target,in=0x02000000:0x02000fff"/>
<mapEntry key="which_arc" value="ARC7"/>
</mapAttribute>
<mapAttribute key="com.arc.cdt.debug.seecode.core.GUIHILI_PROPS_3">
<mapEntry key="Local_symbols" value="1"/>
<mapEntry key="ARC_target" value="ARC_simulator"/>
<mapEntry key="Program_toggles_on" value="stop_all"/>
<mapEntry key="SIDLL1" value="SCDIR/bin/plotter,plot=1"/>
<mapEntry key="ARC_mpy" value="1"/>
<mapEntry key="cmd_line_option" value="-prop=ident=0 -nogoifmain -prop=instrs_per_pass=500 -cmpd=soc -toggle=deadbeef=1"/>
<mapEntry key="profiling_window" value="1"/>
<mapEntry key="A7_mmu" value="1"/>
<mapEntry key="ARC_ExtDLL1" value="name=ssramInst_mmap_bank1_ram03.target,in=0x00e00000:0x01ffffff"/>
<mapEntry key="Directory_translation" value="/cygdrive/c,c:/"/>
<mapEntry key="ARC_ExtDLL2" value="name=ssramInst3.target,in=0x02000000:0x02000fff"/>
<mapEntry key="which_arc" value="ARC7"/>
</mapAttribute>
<listAttribute key="com.arc.cdt.debug.seecode.core.SWAHILI_ARGS">
<listEntry value="-cmpd=soc"/>
<listEntry value="-off=cr_for_more"/>
<listEntry value="-simexts=bridge,instance=ssramInst_mmap_bank1_ram01"/>
<listEntry value="-simexts=bridge,instance=ssramInst1"/>
<listEntry value="-simexts=bridge,instance=ssramInst_mmap_bank1_ram02"/>
<listEntry value="-simexts=bridge,instance=ssramInst2"/>
<listEntry value="-simexts=bridge,instance=ssramInst_mmap_bank1_ram03"/>
<listEntry value="-simexts=bridge,instance=ssramInst3"/>
<listEntry value="-OKN"/>
</listAttribute>
<listAttribute key="com.arc.cdt.debug.seecode.core.SWAHILI_ARGS_0">
<listEntry value="-prop=ident=0"/>
<listEntry value="-nogoifmain"/>
<listEntry value="-prop=instrs_per_pass=500"/>
<listEntry value="-cmpd=soc"/>
<listEntry value="-semint=SCDIR/bin/plotter,plot=1"/>
<listEntry value="-simextp=name=ssramInst_mmap_bank1_ram01.initiator,out=0x00e00000"/>
<listEntry value="-simextp=name=ssramInst_mmap_bank1_ram02.initiator,out=0x00e00000"/>
<listEntry value="-simextp=name=ssramInst_mmap_bank1_ram03.initiator,out=0x00e00000"/>
<listEntry value="-simextp=name=ssramInst1.initiator,out=0x02000000"/>
<listEntry value="-simextp=name=ssramInst2.initiator,out=0x02000000"/>
<listEntry value="-simextp=name=ssramInst3.initiator,out=0x02000000"/>
<listEntry value="-toggle=include_local_symbols=1"/>
<listEntry value="-profile"/>
<listEntry value="-sim"/>
<listEntry value="-a7"/>
<listEntry value="-Xmpy"/>
<listEntry value="-mmu"/>
<listEntry value="-dir_xlation=/cygdrive/c,c:/"/>
<listEntry value="-toggle=deadbeef=1"/>
<listEntry value="-on=stop_all"/>
</listAttribute>
<listAttribute key="com.arc.cdt.debug.seecode.core.SWAHILI_ARGS_1">
<listEntry value="-prop=ident=0"/>
<listEntry value="-nogoifmain"/>
<listEntry value="-prop=instrs_per_pass=500"/>
<listEntry value="-cmpd=soc"/>
<listEntry value="-semint=SCDIR/bin/plotter,plot=1"/>
<listEntry value="-simextp=name=ssramInst_mmap_bank1_ram01.target,in=0x00e00000:0x01ffffff"/>
<listEntry value="-simextp=name=ssramInst1.target,in=0x02000000:0x02000fff"/>
<listEntry value="-toggle=include_local_symbols=1"/>
<listEntry value="-profile"/>
<listEntry value="-sim"/>
<listEntry value="-a7"/>
<listEntry value="-Xmpy"/>
<listEntry value="-mmu"/>
<listEntry value="-dir_xlation=/cygdrive/c,c:/"/>
<listEntry value="-toggle=deadbeef=1"/>
<listEntry value="-on=stop_all"/>
</listAttribute>
<listAttribute key="com.arc.cdt.debug.seecode.core.SWAHILI_ARGS_2">
<listEntry value="-prop=ident=0"/>
<listEntry value="-nogoifmain"/>
<listEntry value="-prop=instrs_per_pass=500"/>
<listEntry value="-cmpd=soc"/>
<listEntry value="-semint=SCDIR/bin/plotter,plot=1"/>
<listEntry value="-simextp=name=ssramInst_mmap_bank1_ram02.target,in=0x00e00000:0x01ffffff"/>
<listEntry value="-simextp=name=ssramInst2.target,in=0x02000000:0x02000fff"/>
<listEntry value="-toggle=include_local_symbols=1"/>
<listEntry value="-profile"/>
<listEntry value="-sim"/>
<listEntry value="-a7"/>
<listEntry value="-Xmpy"/>
<listEntry value="-mmu"/>
<listEntry value="-dir_xlation=/cygdrive/c,c:/"/>
<listEntry value="-toggle=deadbeef=1"/>
<listEntry value="-on=stop_all"/>
</listAttribute>
<listAttribute key="com.arc.cdt.debug.seecode.core.SWAHILI_ARGS_3">
<listEntry value="-prop=ident=0"/>
<listEntry value="-nogoifmain"/>
<listEntry value="-prop=instrs_per_pass=500"/>
<listEntry value="-cmpd=soc"/>
<listEntry value="-semint=SCDIR/bin/plotter,plot=1"/>
<listEntry value="-simextp=name=ssramInst_mmap_bank1_ram03.target,in=0x00e00000:0x01ffffff"/>
<listEntry value="-simextp=name=ssramInst3.target,in=0x02000000:0x02000fff"/>
<listEntry value="-toggle=include_local_symbols=1"/>
<listEntry value="-profile"/>
<listEntry value="-sim"/>
<listEntry value="-a7"/>
<listEntry value="-Xmpy"/>
<listEntry value="-mmu"/>
<listEntry value="-dir_xlation=/cygdrive/c,c:/"/>
<listEntry value="-toggle=deadbeef=1"/>
<listEntry value="-on=stop_all"/>
</listAttribute>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_REGISTER_GROUPS" value=""/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_RESUME_AT_START" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.GLOBAL_VARIABLES" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;globalVariableList/&gt;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;memoryBlockExpressionList/&gt;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="graphics_pipeline_LINUX"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.arc.cdt.toolchain.arc.exeReleaseToolChain.1114294541"/>
<stringAttribute key="org.eclipse.cdt.launch.disassemblyViewID" value="com.arc.cdt.debug.seecode.ui.views.disasm"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/graphics_pipeline_LINUX"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="process_factory_id" value="com.arc.cdt.debug.seecode.processFactory"/>
</launchConfiguration>
