<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
      <extension
          point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
         <tool
               command="hcn386"
               id="com.arc.cdt.toolchain.win32.compiler"
               isAbstract="true"
               name="MetaWare Native Win32 C/C++ Compiler"
               superClass="com.arc.cdt.toolchain.toolCompiler">
            <option
                  id="com.arc.cdt.toolchain.win32.option.endian"
                  isAbstract="false"
                  superClass="arc.compiler.options.endian"
                  />
            <outputType
                  id="com.arc.cdt.toolchain.win32.compiler.outputType"
                  outputs="obj"
                  superClass="com.arc.cdt.toolchain.highC.output"/>
            <inputType
                  dependencyCalculator="com.arc.cdt.managedbuilder.makegen.HighCDependencyGenerator"
                  dependencyContentType="org.eclipse.cdt.core.cxxHeader"
                  dependencyExtensions="h,H,hpp"
                  id="com.arc.cdt.toolchain.win32.inputTypeCPP"
                  name="MetaWare C++ Input"
                  primaryInput="true"
                  scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.win32.ScannerConfigurationDiscoveryProfile"
                  sourceContentType="org.eclipse.cdt.core.cxxSource"
                  sources="cc,cpp,C,CC,ii"
                  superClass="com.arc.cdt.toolchain.inputTypeCPP"/>
               <inputType
                     dependencyCalculator="com.arc.cdt.managedbuilder.makegen.HighCDependencyGenerator"
                     dependencyContentType="org.eclipse.cdt.core.cHeader"
                     id="com.arc.cdt.toolchain.win32.inputTypeC"
                     name="MetaWare C Input"
                     primaryInput="true"
                     scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.win32.ScannerConfigurationDiscoveryProfile"
                     sourceContentType="org.eclipse.cdt.core.cSource"
                     superClass="com.arc.cdt.toolchain.inputTypeC"/>       
       </tool>
       <tool
             id="com.arc.cdt.toolchain.win32.compilerDebug"
             isAbstract="true"

             superClass="com.arc.cdt.toolchain.win32.compiler">
      <option
            defaultValue="arc.optimization.level.none"
            isAbstract="false"
            id="com.arc.cdt.toolchain.win32.compilerDebugOptLevel"
            superClass="arc.compiler.options.general.optimization.level"/>
      <option
            defaultValue="arc.debugging.level.default"
            isAbstract="false"
            id="com.arc.cdt.toolchain.win32.compilerDebugDebug"
            superClass="arc.compiler.options.debugging.level"/>
     </tool>
         
         <tool
               command="hcn386"
               id="com.arc.cdt.toolchain.win32.Linker"
               isAbstract="true"
               name="MetaWare Linker for Windows"
               superClass="com.arc.cdt.toolchain.toolLinker">
            <option
                  id="com.arc.cdt.toolchain.win32.linker.endian"
                  isAbstract="false"
                  superClass="arc.linker.options.endian"
                  />
            <inputType
                  id="com.arc.cdt.toolchain.win32.linker.inputType"
                  sources="o,a,lib,obj"
                  superClass="com.arc.cdt.toolchain.linker.input">
                  <additionalInput
                         kind="additionalinputdependency"
                         paths="$(USER_OBJS)"/>
                   <additionalInput
                         kind="additionalinput"
                         paths="$(LIBS)"/>
            </inputType>
            <outputType
                  id="com.arc.cdt.toolchain.win32.linker.outputType"
                  outputs="exe,dll"
                  superClass="com.arc.cdt.toolchain.linker.output"/>
         </tool>
         <tool
               command="hcn386"
               isAbstract="true"
               name="Windows/x86 Assembler"
               id="com.arc.cdt.toolchain.win32.asm"
               superClass="com.arc.cdt.toolchain.assembler">
            <option
                  id="com.arc.cdt.toolchain.win32.asm.endian"
                  isAbstract="false"
                  superClass="arc.assembler.options.endian"
                  />
            <outputType
                  id="com.arc.cdt.toolchain.win32.asm.outputType"
                  outputs="obj"
                  superClass="com.arc.cdt.toolchain.asmoutput"/>
         </tool>
         
          <toolChain
                archList="x86"
                id="com.arc.cdt.toolchain.win32.libToolChain"
                isAbstract="true"
                name="Windows/X86 Static Library Tool Chain"
                osList="win32"
                superClass="com.arc.cdt.toolchain.toolChain"
                targetTool="com.arc.cdt.toolchain.win32.toolArchiver">
		 <tool
         command="mwar"
         id="com.arc.cdt.toolchain.win32.toolArchiver"
         isAbstract="false"
         name="MetaWare Archiver for Windows"
         superClass="com.arc.cdt.toolchain.archiver"/>
   <tool
         isAbstract="false"
         id="com.arc.cdt.toolchain.win32.asmstat"
         superClass="com.arc.cdt.toolchain.win32.asm"/>
	      </toolChain>

	      <projectType
             buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.exe"
             id="com.arc.cdt.toolchain.win32.exeProject"
             isAbstract="false"
             superClass="com.arc.cdt.toolchain.projectType.exe">
		 <configuration
         buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
         cleanCommand="rm -rf"
         errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
         id="com.arc.cdt.toolchain.win32.exeDebugConfig"
         name="Debug">
		      <toolChain
              archList="x86"
              id="com.arc.cdt.toolchain.win32.exeToolChainDebug"
              isAbstract="false"
              name="MetaWare Windows Native"
              osList="win32"
              superClass="com.arc.cdt.toolchain.toolChain">
			     <tool
              id="com.arc.cdt.toolchain.win32.exe.exeCompilerDebug"
              isAbstract="false"
              superClass="com.arc.cdt.toolchain.win32.compilerDebug">
        </tool>
			     <tool
              id="com.arc.cdt.toolchain.win32.exeLinkerDebug"
             
              superClass="com.arc.cdt.toolchain.win32.Linker"/>
        <tool
              id="com.arc.cdt.toolchain.win32.asmexedebug"
              isAbstract="false"
              superClass="com.arc.cdt.toolchain.win32.asm"/>

      </toolChain>
 </configuration>
         <configuration
               artifactExtension=""
               errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
               name="Release"
               id="com.arc.cdt.toolchain.win32.exeReleaseConfig"
               cleanCommand="rm -rf">
            <toolChain
                  archList="x86"
                  id="com.arc.cdt.toolchain.win32.exeReleaseToolChain"
                  isAbstract="false"
                  name="MetaWare Windows Native"
                  osList="win32"
                  superClass="com.arc.cdt.toolchain.toolChain">
               <tool
                     id="com.arc.cdt.toolchain.win32.exe.exeCompilerRelease"
                     isAbstract="false"
                     obsoleteIDs="exe.exeCompilerRelease"
                     superClass="com.arc.cdt.toolchain.win32.compiler">
               </tool>
               <tool
                     isAbstract="false"
                     id="com.arc.cdt.toolchain.win32.tool11"
                     superClass="com.arc.cdt.toolchain.win32.Linker"/>
               <tool
                     isAbstract="false"
                     id="com.arc.cdt.toolchain.win32.asmexerel"
                     superClass="com.arc.cdt.toolchain.win32.asm"/>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.staticLib"
            id="com.arc.cdt.toolchain.win32.libProject"
            isAbstract="false"
            superClass="com.arc.cdt.toolchain.projectType.lib">
      <configuration
            artifactExtension="a"
            buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
            cleanCommand="rm -rf"
            errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
            id="com.arc.cdt.toolchain.win32.libDebugConfig"
            name="Debug"
            parent="com.arc.cdt.toolchain.configuration.base">
         <toolChain
               id="com.arc.cdt.toolchain.win32.libDebugToolChain"
               isAbstract="false"
               name="MetaWare Windows Native"
               superClass="com.arc.cdt.toolchain.win32.libToolChain">
            <tool
                  id="com.arc.cdt.toolchain.win32.lib.highc"
                  isAbstract="false"
                  obsoleteIDs="win32.tool12"
                  superClass="com.arc.cdt.toolchain.win32.compilerDebug"/>
         </toolChain>
 
           
         </configuration>
         <configuration
               artifactExtension="a"
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               cleanCommand="rm -rf"
               errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
               id="com.arc.cdt.toolchain.win32.libReleaseConfig"
               name="Release"
               parent="com.arc.cdt.toolchain.configuration.base">
            <toolChain
                  id="com.arc.cdt.toolchain.win32.libReleaseToolChain"
                  isAbstract="false"
                  name="MetaWare Windows Native"
                  superClass="com.arc.cdt.toolchain.win32.libToolChain">
               <tool
                     id="com.arc.cdt.toolchain.win32.lib.highcrelease"
                     isAbstract="false"
                     obsoleteIDs="win32.tool16"
                     superClass="com.arc.cdt.toolchain.win32.compiler"/>
            </toolChain>
         </configuration>
      </projectType>
      
        <projectType
             buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.sharedLib"
             id="com.arc.cdt.toolchain.win32.dllProject"
             isAbstract="false"
             >
		 <configuration
         buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
         cleanCommand="rm -rf"
         errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
         id="com.arc.cdt.toolchain.win32.dllDebugConfig"
         name="Debug">
		      <toolChain
              archList="x86"
              id="com.arc.cdt.toolchain.win32.dllToolChainDebug"
              isAbstract="false"
              name="MetaWare Windows Native"
              osList="win32"
              superClass="com.arc.cdt.toolchain.toolChain">
			     <tool
              id="com.arc.cdt.toolchain.win32.dll.dllCompilerDebug"
              isAbstract="false"
              superClass="com.arc.cdt.toolchain.win32.compilerDebug">
        </tool>
			     <tool
              id="com.arc.cdt.toolchain.win32.dllLinkerDebug"
             
              superClass="com.arc.cdt.toolchain.win32.Linker"/>
        <tool
              id="com.arc.cdt.toolchain.win32.asmdlldebug"
              isAbstract="false"
              superClass="com.arc.cdt.toolchain.win32.asm"/>

      </toolChain>
 	</configuration>
         <configuration
               artifactExtension=""
               errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
               name="Release"
               id="com.arc.cdt.toolchain.win32.dllReleaseConfig"
               cleanCommand="rm -rf">
            <toolChain
                  archList="x86"
                  id="com.arc.cdt.toolchain.win32.dllReleaseToolChain"
                  isAbstract="false"
                  name="MetaWare Windows Native"
                  osList="win32"
                  superClass="com.arc.cdt.toolchain.toolChain">
               <tool
                     id="com.arc.cdt.toolchain.win32.exe.dllCompilerRelease"
                     isAbstract="false"
                     obsoleteIDs="exe.exeCompilerRelease"
                     superClass="com.arc.cdt.toolchain.win32.compiler">
               </tool>
               <tool
                     isAbstract="false"
                     id="com.arc.cdt.toolchain.win32.dlllinkerrel"
                     superClass="com.arc.cdt.toolchain.win32.Linker"/>
               <tool
                     isAbstract="false"
                     id="com.arc.cdt.toolchain.win32.asmdllrel"
                     superClass="com.arc.cdt.toolchain.win32.asm"/>
            </toolChain>
         </configuration>
      </projectType>
    </extension>  
    
    <extension
         id="ScannerConfigurationDiscoveryProfile"
         name="MetaWare C/C++ Scanner Configuration Discovery Profile"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
      <scannerInfoCollector
            class="com.arc.cdt.scannerconfig.HighCScannerInfoCollector"
            scope="project"/>
      <scannerInfoProvider providerId="HighCSpecsFile">
         <run
               arguments="-Hbatchnotmp -Hnoobj ${plugin_state_location}/${specs_file}"
               class="org.eclipse.cdt.make.internal.core.scannerconfig2.GCCSpecsRunSIProvider"
               command="hcn386"/>
         <scannerInfoConsoleParser class="com.arc.cdt.scannerconfig.ARCScannerInfoConsoleParser"/>
        
      </scannerInfoProvider>
       <buildOutputProvider>
         <open/>
         <scannerInfoConsoleParser class="com.arc.cdt.scannerconfig.ARCBuildInfoConsoleParser"/>
      </buildOutputProvider>
   </extension>
   
     <extension
         point="org.eclipse.cdt.make.ui.DiscoveryProfilePage">
      <profilePage
            class="com.arc.cdt.toolchain.ui.HighCDiscoveryPage"
            name="MetaWare C/C++ Includes &amp; Symbol Discovery for Windows Native"
            profileId="com.arc.cdt.toolchain.win32.ScannerConfigurationDiscoveryProfile"/>
   </extension>
   
   


</plugin>
