<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
 <!--  <extension
         id="ARCExternalScannerInfoProvider"
         name="ARM External Scanner Info Provider"
         point="org.eclipse.cdt.make.core.ExternalScannerInfoProvider">
      <externalScannerInfoProvider >
         <run class="org.eclipse.cdt.make.internal.core.scannerconfig.DefaultExternalScannerInfoProvider">
            <parameter
                  value="hcarm"
                  name="defaultCommand"/>
            <parameter
                  value="-Hbatchnotmp -Hnoobj ${plugin_state_location}/${specs_file}"
                  name="defaultAttributes"/>
         </run>
      </externalScannerInfoProvider>
   </extension> -->
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
         
         <tool
               command="hcarm"
               id="com.arc.cdt.toolchain.arm.compiler"
               isAbstract="true"
               name="MetaWare ARM C/C++ Compiler"
               superClass="com.arc.cdt.toolchain.toolCompiler">
            <optionCategory
                  name="Processor Specific"
                  id="arm.compiler.options.category.target">
            </optionCategory>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.arm.ArmApplicabilityCalculator"
                  category="arm.compiler.options.category.target"
                  defaultValue="arm.compiler.options.target.v4t"
                  id="arm.compiler.options.target.version"
                  name="ARM Processor Version"
                  valueType="enumerated">
               <enumeratedOptionValue
                     name="Version 3"
                     command="-Hv3"
                     id="arm.compiler.options.target.v3">
               </enumeratedOptionValue>
               <enumeratedOptionValue
                     name="Version 3 with long multiply"
                     command="-Hv3m"
                     id="arm.compiler.options.target.v3m">
               </enumeratedOptionValue>
               <enumeratedOptionValue
                     isDefault="true"
                     command="-Hv4"
                     name="Version 4 (ARM 9/StrongARM)"
                     id="arm.compiler.options.target.v4"/>
               <enumeratedOptionValue
                     command="-Hv4xm"
                     name="Version 4 without long multiply"
                     id="arm.compiler.options.target.v4xm"/>
               <enumeratedOptionValue
                     command="-Hv5t"
                     name="ARM 10 (Version 5)"
                     id="arm.compiler.options.target.v5"/>
               <enumeratedOptionValue
                     command="-Hv5te"
                     name="XScale (Version 5 &amp; DSP)"
                     id="arm.compiler.options.target.v5te"/>
              <enumeratedOptionValue
                     command="-Hv5texp"
                     name="ARM 9e (Version 5)"
                     id="arm.compiler.options.target.v5texp"/>
            </option>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.arm.ArmApplicabilityCalculator"
                  category="arm.compiler.options.category.target"
                  command="-Hthumb"
                  commandFalse="-Hnothumb"
                  defaultValue="true"
                  id="com.arc.cdt.toolchain.arm.thumb"
                  name="Generate Thumb Code"
                  valueType="boolean"/>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.arm.ArmApplicabilityCalculator"
                  category="arm.compiler.options.category.target"
                  command="-Hinter"
                  defaultValue="false"
                  id="com.arc.cdt.toolchain.arm.inter"
                  name="Permit interworking"
                  tip="Permit 32-bit code to be linked with 16-bit code"
                  valueType="boolean"/>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.arm.ArmApplicabilityCalculator"
                  category="arm.compiler.options.category.target"
                  command="-Hswst"
                  defaultValue="false"
                  id="com.arc.cdt.toolchain.arm.stackcheck"
                  name="Perform stack checking"
                  valueType="boolean"/>    
                  
              <inputType
                     id="com.arc.cdt.toolchain.arm.inputTypeCPP"
                     scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.arm.ScannerConfigurationDiscoveryProfile"
                     dependencyCalculator="com.arc.cdt.managedbuilder.makegen.HighCDependencyGenerator"
                     dependencyContentType="org.eclipse.cdt.core.cxxHeader"
                     dependencyExtensions="h,H,hpp"
                     name="MetaWare C++ Input"
                     primaryInput="true"
                     sourceContentType="org.eclipse.cdt.core.cxxSource"
                     sources="cc,cpp,C,CC,ii"/>
               <inputType
                     id="com.arc.cdt.toolchain.arm.inputTypeC"
                     scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.arm.ScannerConfigurationDiscoveryProfile"
                     dependencyCalculator="com.arc.cdt.managedbuilder.makegen.HighCDependencyGenerator"
                     dependencyContentType="org.eclipse.cdt.core.cHeader"
                     name="MetaWare C Input"
                     primaryInput="true"
                     sourceContentType="org.eclipse.cdt.core.cSource"/>          
         </tool>
         
      <tool
         command="hcarm "
         isAbstract="true"
         id="com.arc.cdt.toolchain.arm.compilerDebug"
         superClass="com.arc.cdt.toolchain.arm.compiler">
      <option
            defaultValue="arc.optimization.level.none"
            isAbstract="false"
            id="com.arc.cdt.toolchain.arm.compilerDebugOptLevel"
            superClass="arc.compiler.options.general.optimization.level"/>
      <option
            defaultValue="arc.debugging.level.default"
            isAbstract="false"
            id="com.arc.cdt.toolchain.arm.compilerDebugDebug"
            superClass="arc.compiler.options.debugging.level"/>
   </tool>
      <tool
            command="hcarm"
            isAbstract="true"
            name="ARM Assembler"
            id="com.arc.cdt.toolchain.arm.asm"
            superClass="com.arc.cdt.toolchain.assembler">
         <optionCategory
               name="ARM Specific"
               id="com.arc.cdt.toolchain.arm.category.arm"/>
         <option
               applicabilityCalculator="com.arc.cdt.toolchain.arm.ArmApplicabilityCalculator"
               category="com.arc.cdt.toolchain.arm.category.arm"
               command="-Hasopt=-armasm"
               defaultValue="false"
               id="com.arc.cdt.toolchain.arm.option.asm.armasm"
               isAbstract="false"
               name="Accept ARM Ltd. syntax"
               valueType="boolean"/>
         <option
               applicabilityCalculator="com.arc.cdt.toolchain.arm.ArmApplicabilityCalculator"
               category="com.arc.cdt.toolchain.arm.category.arm"
               command="-Hthumb"
               defaultValue="false"
               id="com.arc.cdt.toolchain.arm.option.asm.thumb"
               isAbstract="false"
               name="Thumb processing mode"
               valueType="boolean"/>
         <option
               applicabilityCalculator="com.arc.cdt.toolchain.arm.ArmApplicabilityCalculator"
               category="com.arc.cdt.toolchain.arm.category.arm"
               command="-Hinter"
               defaultValue="false"
               id="com.arc.cdt.toolchain.arm.option.asm.inter"
               isAbstract="false"
               name="Specify interworking code"
               valueType="boolean"/>
      </tool>
   
   <tool
         command="hcarm"
         id="com.arc.cdt.toolchain.arm.Linker"
         isAbstract="true"
         name="MetaWare Linker for ARM"
         superClass="com.arc.cdt.toolchain.toolLinker">
       <option
             applicabilityCalculator="com.arc.cdt.toolchain.arm.ArmApplicabilityCalculator"
             category="arc.linker.category.special"
             command="-Hthumb"
             defaultValue="false"
             id="arm.link.options.thumb"
             name="Use thumb-compiled standard libraries"
             valueType="boolean"/>
   </tool>
   
      
		 <tool
         command="ararm"
         id="com.arc.cdt.toolchain.arm.archiver"
         isAbstract="false"
         name="MetaWare Archiver for ARM"
         outputFlag="-r"
         superClass="com.arc.cdt.toolchain.archiver"/>

	      <projectType
             buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.exe"
             id="com.arc.cdt.toolchain.arm.exeProject"
             isAbstract="false"
             >
		 <configuration
         artifactExtension="elf"
         buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
         cleanCommand="rm -rf"
         errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
         id="com.arc.cdt.toolchain.arm.exeDebugConfig"
         name="Debug">
		      <toolChain
              id="com.arc.cdt.toolchain.arm.exeToolChainDebug"
              isAbstract="false"
              name="ARM"
              scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.arm.ScannerConfigurationDiscoveryProfile"
              superClass="com.arc.cdt.toolchain.toolChain">
			     <tool
              id="com.arc.cdt.toolchain.arm.exeCompilerDebug"
              isAbstract="false"
              obsoleteIDs="exe.exeCompilerDebug"
              superClass="com.arc.cdt.toolchain.arm.compilerDebug">
        </tool>
	
        <tool
              id="com.arc.cdt.toolchain.arm.asmDebug"
              isAbstract="false"
              obsoleteIDs="arm.tool14"
              superClass="com.arc.cdt.toolchain.arm.asmdebug"/>
         <tool
		id="com.arc.cdt.toolchain.arm.exeLinkerDebug"
		superClass="com.arc.cdt.toolchain.arm.Linker"/>

       </toolChain>
</configuration>
         <configuration
               artifactExtension="elf"
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               cleanCommand="rm -rf"
               errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
               id="com.arc.cdt.toolchain.arm.exeReleaseConfig"
               name="Release">
            <toolChain
                  id="com.arc.cdt.toolchain.arm.exeReleaseToolChain"
                  isAbstract="false"
                  name="ARM"
                  scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.arm.ScannerConfigurationDiscoveryProfile"
                  superClass="com.arc.cdt.toolchain.toolChain">
               <tool
                     id="com.arc.cdt.toolchain.arm.exeCompilerRelease"
                     isAbstract="false"
                     obsoleteIDs="exe.exeCompilerRelease"
                     superClass="com.arc.cdt.toolchain.arm.compiler">
                  
               </tool>
               <tool
                     id="com.arc.cdt.toolchain.arm.exeAsmRelease"
                     isAbstract="false"
                     obsoleteIDs="arm.tool15"
                     superClass="com.arc.cdt.toolchain.arm.asm"/>
               <tool
                     id="com.arc.cdt.toolchain.arm.linkerRelease"
                     isAbstract="false"
                     obsoleteIDs="arm.tool11"
                     superClass="com.arc.cdt.toolchain.arm.Linker"/>
               
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.staticLib"
            id="com.arc.cdt.toolchain.arm.libProject"
            isAbstract="false"
            >
      <configuration
            artifactExtension="a"
            buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
            cleanCommand="rm -rf"
            errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
            id="com.arc.cdt.toolchain.arm.libDebugConfig"
            name="Debug">
         <toolChain
               id="com.arc.cdt.toolchain.arm.libDebugToolChain"
               isAbstract="false"
               name="ARM"
               scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.arm.ScannerConfigurationDiscoveryProfile"
               superClass="com.arc.cdt.toolchain.toolChain">
            <tool
                  id="com.arc.cdt.toolchain.arm.libCompilerDebug"
                  isAbstract="false"
                  obsoleteIDs="arm.tool12"
                  superClass="com.arc.cdt.toolchain.arm.compilerDebug"/>
            <tool
                  id="com.arc.cdt.toolchain.arm.asmDebugStat"
                  isAbstract="false"
                  obsoleteIDs="tool13"
                  superClass="com.arc.cdt.toolchain.arm.asmdebug"/>
            <tool
                  id="com.arc.cdt.toolchain.arm.ArDebugStat"
                  isAbstract="false"
                  obsoleteIDs="toolArchiver"
                  superClass="com.arc.cdt.toolchain.arm.archiver"/>
         </toolChain>
 
           
         </configuration>
         <configuration
               artifactExtension="a"
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               cleanCommand="rm -rf"
               errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
               id="com.arc.cdt.toolchain.arm.libReleaseConfig"
               name="Release">
            <toolChain
                  id="com.arc.cdt.toolchain.arm.libReleaseToolChain"
                  isAbstract="false"
                  name="ARM"
                  scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.arm.ScannerConfigurationDiscoveryProfile"
                  superClass="com.arc.cdt.toolchain.toolChain">
               <tool
                     id="com.arc.cdt.toolchain.arm.libCompilerRelease"
                     isAbstract="false"
                     obsoleteIDs="arm.tool16"
                     superClass="com.arc.cdt.toolchain.arm.compiler"/>
               <tool
                     id="com.arc.cdt.toolchain.arm.asmReleaseStat"
                     isAbstract="false"
                     obsoleteIDs="tool13"
                     superClass="com.arc.cdt.toolchain.arm.asm"/>
               <tool
                     id="com.arc.cdt.toolchain.arm.ArReleaseStat"
                     isAbstract="false"
                     obsoleteIDs="toolArchiver"
                     superClass="com.arc.cdt.toolchain.arm.archiver"/>
            </toolChain>
         </configuration>
      </projectType>
      <tool
            id="com.arc.cdt.toolchain.arm.asmdebug"
            isAbstract="false"
            superClass="com.arc.cdt.toolchain.arm.asm">
         <option
               defaultValue="true"
               id="com.arc.cdt.toolchain.arm.asm.option.g"
               isAbstract="false"
               resourceFilter="all"
               superClass="com.arc.cdt.toolchain.asm.option.g"
               valueType="boolean"/>
      </tool>
   </extension>
   <extension
         id="ScannerConfigurationDiscoveryProfile"
         name="High C/C++ Scanner Configuration Discovery Profile"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
      <scannerInfoCollector
            class="com.arc.cdt.scannerconfig.HighCScannerInfoCollector"
            scope="project"/>
      <scannerInfoProvider providerId="HighCSpecsFile">
         <run
               arguments="-Hbatchnotmp -Hnoobj ${plugin_state_location}/${specs_file}"
               class="org.eclipse.cdt.make.internal.core.scannerconfig2.GCCSpecsRunSIProvider"
               command="hcarm"/>
         <scannerInfoConsoleParser class="com.arc.cdt.scannerconfig.ARCScannerInfoConsoleParser"/>
      </scannerInfoProvider>
      <buildOutputProvider>
         <scannerInfoConsoleParser
               class="com.arc.cdt.scannerconfig.ARCBuildInfoConsoleParser">
         </scannerInfoConsoleParser>
      </buildOutputProvider>
   </extension>
   
   
   <extension
         point="org.eclipse.cdt.make.ui.DiscoveryProfilePage">
      <profilePage
            class="com.arc.cdt.toolchain.ui.HighCDiscoveryPage"
            name="MetaWare C/C++ Includes &amp; Symbol Discovery for ARM"
            profileId="com.arc.cdt.toolchain.arm.ScannerConfigurationDiscoveryProfile"/>
   </extension>


</plugin>
