<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <!--  
      <extension
         id="ARCExternalScannerInfoProvider"
         name="ARC External Scanner Info Provider"
         point="org.eclipse.cdt.make.core.ExternalScannerInfoProvider">
      <externalScannerInfoProvider >
         <run class="org.eclipse.cdt.make.internal.core.scannerconfig.DefaultExternalScannerInfoProvider">
            <parameter
                  value="hcl386"
                  name="defaultCommand"/>
            <parameter
                  value="-Hbatchnotmp -Hnoobj ${plugin_state_location}/${specs_file}"
                  name="defaultAttributes"/>
         </run>
      </externalScannerInfoProvider>
   </extension>
   -->
   
      <extension
          point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
         <tool
               command="hcl386"
               id="com.arc.cdt.toolchain.linux86.compiler"
               isAbstract="true"
               name="MetaWare Native Linux/x86 C/C++ Compiler"
               superClass="com.arc.cdt.toolchain.toolCompiler">
            <option
                  id="com.arc.cdt.toolchain.linux86.option.endian"
                  isAbstract="false"
                  superClass="arc.compiler.options.endian"
                  />
                  
              <inputType
                     id="com.arc.cdt.toolchain.linux86.inputTypeCPP"
                     scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.linux86.ScannerConfigurationDiscoveryProfile"
                     dependencyCalculator="com.arc.cdt.managedbuilder.makegen.HighCDependencyGenerator"
                     dependencyContentType="org.eclipse.cdt.core.cxxHeader"
                     dependencyExtensions="h,H,hpp"
                     name="MetaWare C++ Input"
                     primaryInput="true"
                     sourceContentType="org.eclipse.cdt.core.cxxSource"
                     sources="cc,cpp,C,CC,ii"/>
               <inputType
                     id="com.arc.cdt.toolchain.linux86.inputTypeC"
                     scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.linux86.ScannerConfigurationDiscoveryProfile"
                     dependencyCalculator="com.arc.cdt.managedbuilder.makegen.HighCDependencyGenerator"
                     dependencyContentType="org.eclipse.cdt.core.cHeader"
                     name="MetaWare C Input"
                     primaryInput="true"
                     sourceContentType="org.eclipse.cdt.core.cSource"/>       
         </tool>
       <tool
             id="com.arc.cdt.toolchain.linux86.compilerDebug"
             isAbstract="true"

             superClass="com.arc.cdt.toolchain.linux86.compiler">
      <option
            defaultValue="arc.optimization.level.none"
            isAbstract="false"
            id="com.arc.cdt.toolchain.linux86.compilerDebugOptLevel"
            superClass="arc.compiler.options.general.optimization.level"/>
      <option
            defaultValue="arc.debugging.level.default"
            isAbstract="false"
            id="com.arc.cdt.toolchain.linux86.compilerDebugDebug"
            superClass="arc.compiler.options.debugging.level"/>
     </tool>
         
         <tool
               command="hcl386"
               id="com.arc.cdt.toolchain.linux86.Linker"
               isAbstract="true"
               name="MetaWare Linker for Linux"
               superClass="com.arc.cdt.toolchain.toolLinker">
            <option
                  id="com.arc.cdt.toolchain.linux86.linker.endian"
                  isAbstract="false"
                  superClass="arc.linker.options.endian"
                  />
         </tool>
         <tool
               command="hcl386"
               isAbstract="true"
               name="Linux/x86 Assembler"
               id="com.arc.cdt.toolchain.linux86.asm"
               superClass="com.arc.cdt.toolchain.assembler">
            <option
                  id="com.arc.cdt.toolchain.linux86.asm.endian"
                  isAbstract="false"
                  superClass="arc.assembler.options.endian"
                  />
         </tool>
         
          <toolChain
                archList="x86"
                id="com.arc.cdt.toolchain.linux86.libToolChain"
                isAbstract="true"
                name="Linux/X86 Static Library Tool Chain"
                osList="linux"
                superClass="com.arc.cdt.toolchain.toolChain"
                targetTool="com.arc.cdt.toolchain.archiver">
		 <tool
         command="mwar"
         id="com.arc.cdt.toolchain.linux86.toolArchiver"
         isAbstract="false"
         name="MetaWare Archiver for Linux"
         superClass="com.arc.cdt.toolchain.archiver"/>
   <tool
         isAbstract="false"
         id="com.arc.cdt.toolchain.linux86.asmstat"
         superClass="com.arc.cdt.toolchain.linux86.asm"/>
	      </toolChain>

	      <projectType
             buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.exe"
             id="com.arc.cdt.toolchain.linux86.exeProject"
             isAbstract="false"
             >
		 <configuration
         buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
         cleanCommand="rm -rf"
         errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
         id="com.arc.cdt.toolchain.linux86.exeDebugConfig"
         name="Debug">
		      <toolChain
              archList="x86"
              id="com.arc.cdt.toolchain.linux86.exeToolChainDebug"
              isAbstract="false"
              name="MetaWare Linux Native"
              osList="linux"
              scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.linux86.ScannerConfigurationDiscoveryProfile"
              superClass="com.arc.cdt.toolchain.toolChain">
			     <tool
              id="com.arc.cdt.toolchain.linux86.exe.exeCompilerDebug"
              isAbstract="false"
              superClass="com.arc.cdt.toolchain.linux86.compilerDebug">
        </tool>
			     <tool
              id="com.arc.cdt.toolchain.linux86.exeLinkerDebug"
             
              superClass="com.arc.cdt.toolchain.linux86.Linker"/>
        <tool
              id="com.arc.cdt.toolchain.linux86.asmexedebug"
              isAbstract="false"
              superClass="com.arc.cdt.toolchain.linux86.asm"/>

      </toolChain>
 </configuration>
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               cleanCommand="rm -rf"
               errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
               id="com.arc.cdt.toolchain.linux86.exeReleaseConfig"
               name="Release">
            <toolChain
                  archList="x86"
                  id="com.arc.cdt.toolchain.linux86.exeReleaseToolChain"
                  isAbstract="false"
                  name="MetaWare Linux Native"
                  osList="linux"
                  scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.linux86.ScannerConfigurationDiscoveryProfile"
                  superClass="com.arc.cdt.toolchain.toolChain">
               <tool
                     id="com.arc.cdt.toolchain.linux86.exe.exeCompilerRelease"
                     isAbstract="false"
                     obsoleteIDs="exe.exeCompilerRelease"
                     superClass="com.arc.cdt.toolchain.linux86.compiler">
               </tool>
               <tool
                     isAbstract="false"
                     id="com.arc.cdt.toolchain.linux86.tool11"
                     superClass="com.arc.cdt.toolchain.linux86.Linker"/>
               <tool
                     isAbstract="false"
                     id="com.arc.cdt.toolchain.linux86.asmexerel"
                     superClass="com.arc.cdt.toolchain.linux86.asm"/>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.staticLib"
            id="com.arc.cdt.toolchain.linux86.libProject"
            isAbstract="false"
            >
      <configuration
            artifactExtension="a"
            buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
            cleanCommand="rm -rf"
            errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
            id="com.arc.cdt.toolchain.linux86.libDebugConfig"
            name="Debug">
         <toolChain
               id="com.arc.cdt.toolchain.linux86.libDebugToolChain"
               isAbstract="false"
               name="MetaWare Linux Native"
               scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.linux86.ScannerConfigurationDiscoveryProfile"
               superClass="com.arc.cdt.toolchain.linux86.libToolChain">
            <tool
                  id="com.arc.cdt.toolchain.linux86.lib.highc"
                  isAbstract="false"
                  obsoleteIDs="linux86.tool12"
                  superClass="com.arc.cdt.toolchain.linux86.compilerDebug"/>
         </toolChain>
 
           
         </configuration>
         <configuration
               artifactExtension="a"
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               cleanCommand="rm -rf"
               errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
               id="com.arc.cdt.toolchain.linux86.libReleaseConfig"
               name="Release">
            <toolChain
                  id="com.arc.cdt.toolchain.linux86.libReleaseToolChain"
                  isAbstract="false"
                  name="MetaWare Linux Native"
                  scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.linux86.ScannerConfigurationDiscoveryProfile"
                  superClass="com.arc.cdt.toolchain.linux86.libToolChain">
               <tool
                     id="com.arc.cdt.toolchain.linux86.lib.highcrelease"
                     isAbstract="false"
                     obsoleteIDs="linux86.tool16"
                     superClass="com.arc.cdt.toolchain.linux86.compiler"/>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.sharedLib"
            id="com.arc.cdt.toolchain.linux86.so"
            isAbstract="false">
             <configuration
         buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
         cleanCommand="rm -rf"
         errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
         id="com.arc.cdt.toolchain.linux86.soDebugConfig"
         name="Debug">
		      <toolChain
              archList="x86"
              id="com.arc.cdt.toolchain.linux86.soToolChainDebug"
              isAbstract="false"
              name="MetaWare Linux Native"
              osList="linux"
              scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.linux86.ScannerConfigurationDiscoveryProfile"
              superClass="com.arc.cdt.toolchain.toolChain">
			     <tool
              id="com.arc.cdt.toolchain.linux86.so.soCompilerDebug"
              isAbstract="false"
              superClass="com.arc.cdt.toolchain.linux86.compilerDebug">
        </tool>
			     <tool
              id="com.arc.cdt.toolchain.linux86.soLinkerDebug"
             
              superClass="com.arc.cdt.toolchain.linux86.Linker"/>
        <tool
              id="com.arc.cdt.toolchain.linux86.asmsodebug"
              isAbstract="false"
              superClass="com.arc.cdt.toolchain.linux86.asm"/>

      </toolChain>
 </configuration>
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               cleanCommand="rm -rf"
               errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
               id="com.arc.cdt.toolchain.linux86.soReleaseConfig"
               name="Release">
            <toolChain
                  archList="x86"
                  id="com.arc.cdt.toolchain.linux86.soReleaseToolChain"
                  isAbstract="false"
                  name="MetaWare Linux Native"
                  osList="linux"
                  scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.linux86.ScannerConfigurationDiscoveryProfile"
                  superClass="com.arc.cdt.toolchain.toolChain">
               <tool
                     id="com.arc.cdt.toolchain.linux86.soCompilerRelease"
                     isAbstract="false"
                     obsoleteIDs="exe.exeCompilerRelease"
                     superClass="com.arc.cdt.toolchain.linux86.compiler">
               </tool>
               <tool
                     isAbstract="false"
                     id="com.arc.cdt.toolchain.linux86.so.linkerRelease"
                     superClass="com.arc.cdt.toolchain.linux86.Linker"/>
               <tool
                     isAbstract="false"
                     id="com.arc.cdt.toolchain.linux86.asmsorel"
                     superClass="com.arc.cdt.toolchain.linux86.asm"/>
            </toolChain>
         </configuration>
      </projectType>
    </extension>  
    
    <extension
         id="ScannerConfigurationDiscoveryProfile"
         name="MetaWare C/C++ Scanner Configuration Discovery Profile"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
      <scannerInfoCollector
            class="com.arc.cdt.scannerconfig.HighCScannerInfoCollector"
            scope="project"/>
      <scannerInfoProvider providerId="HighCSpecsFile">
         <run
               arguments="-Hbatchnotmp -Hnoobj ${plugin_state_location}/${specs_file}"
               class="org.eclipse.cdt.make.internal.core.scannerconfig2.GCCSpecsRunSIProvider"
               command="hcl386"/>
         <scannerInfoConsoleParser class="com.arc.cdt.scannerconfig.ARCScannerInfoConsoleParser"/>
      </scannerInfoProvider>
      <buildOutputProvider>
         <scannerInfoConsoleParser
               class="com.arc.cdt.scannerconfig.ARCBuildInfoConsoleParser">
         </scannerInfoConsoleParser>
      </buildOutputProvider>
   </extension>
   
   <extension
         point="org.eclipse.cdt.make.ui.DiscoveryProfilePage">
      <profilePage
            class="com.arc.cdt.toolchain.ui.HighCDiscoveryPage"
            name="MetaWare C/C++ Includes &amp; Symbol Discovery for Linux Native"
            profileId="com.arc.cdt.toolchain.linux86.ScannerConfigurationDiscoveryProfile"/>
   </extension>
   

</plugin>
