<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
          point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
         <tool
               command="hcvc"
               id="com.arc.cdt.toolchain.vc.compiler"
               isAbstract="true"
               name="MetaWare VideoCore C/C++ Compiler"
               superClass="com.arc.cdt.toolchain.toolCompiler">
            <option
                   isAbstract="false"
                   defaultValue="true"
                   commandFalse="-Hoff=multiple_var_defs"
                   command=""
                   superClass="arc.compiler.options.multiple_var_defs"
                   id="vc.compiler.options.multiple_var_defs"/>
            <optionCategory
                  name="Version"
                  id="vc.compiler.options.category.version">
            </optionCategory>
            <optionCategory
                  name="Threaded vs. Nonthreaded"
                  id="vc.compiler.options.category.threadness"/>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.vc.VcApplicabilityCalculator"
                  category="vc.compiler.options.category.version"
                  id="vc.compiler.options.version"
                  name="VideoCore Version"
                  tip="The particular processor for which to generate code"
                  valueType="enumerated">
               <enumeratedOptionValue
                     command="-Hvc01"
                     id="vc.compiler.options.version.vc01"
                     name="VC01"/>
               <enumeratedOptionValue
                     command="-Hvc02"
                     name="VC02"
                     id="vc.compiler.options.version.vc02"/>
               <enumeratedOptionValue
                     command="-Hvc03"
                     isDefault="true"
                     id="vc.compiler.options.version.vc03"
                     name="VC03"/>
            </option>
            <option
                  category="vc.compiler.options.category.threadness"
                  commandFalse="-Hnothread"
                  defaultValue="true"
                  id="vc.compiler.options.threaded"
                  name="Compile (and link) multi-threaded code"
                  tip="Specify whether or not to compile for a multi-threaded environment"
                  valueType="boolean"/>
            <option
                  defaultValue="true"
                  isAbstract="false"
                  valueType="boolean"
                  name="Map each function in own text section"
                  commandFalse="-Hnopurge"
                  command=""
                  id="vc.compiler.options.own_section"
                  superClass="arc.compiler.options.own_section"/>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.vc.VcApplicabilityCalculator"
                  id="com.arc.cdt.toolchain.vc.compilerEndiian"
                  isAbstract="false"
                  superClass="arc.compiler.options.endian"/>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.vc.VcApplicabilityCalculator"
                  category="vc.compiler.options.category.version"
                  command="-fdouble4"
                  id="vc.compiler.options.fdouble4"
                  isAbstract="false"
                  name="Map &quot;double&quot; to single-precision for speed (-fdouble4)"
                  resourceFilter="all"
                  tip="The type double will be mapped to 4 bytes"
                  valueType="boolean"/>
          <inputType
                     id="com.arc.cdt.toolchain.vc.inputTypeCPP"
                     scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.vc.ScannerConfigurationDiscoveryProfile"
                     dependencyCalculator="com.arc.cdt.managedbuilder.makegen.HighCDependencyGenerator"
                     dependencyContentType="org.eclipse.cdt.core.cxxHeader"
                     dependencyExtensions="h,H,hpp"
                     name="MetaWare C++ Input"
                     primaryInput="true"
                     sourceContentType="org.eclipse.cdt.core.cxxSource"
                     sources="cc,cpp,C,CC,ii"/>
               <inputType
                     id="com.arc.cdt.toolchain.vc.inputTypeC"
                     scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.vc.ScannerConfigurationDiscoveryProfile"
                     dependencyCalculator="com.arc.cdt.managedbuilder.makegen.HighCDependencyGenerator"
                     dependencyContentType="org.eclipse.cdt.core.cHeader"
                     name="MetaWare C Input"
                     primaryInput="true"
                     sourceContentType="org.eclipse.cdt.core.cSource"/>       
         </tool>
       <tool
         command="hcvc"
         isAbstract="true"
         id="com.arc.cdt.toolchain.vc.compilerDebug"
         superClass="com.arc.cdt.toolchain.vc.compiler">
      <option
            defaultValue="arc.optimization.level.none"
            isAbstract="false"
            id="com.arc.cdt.toolchain.vc.compilerDebugOptLevel"
            superClass="arc.compiler.options.general.optimization.level"/>
      <option
            defaultValue="arc.debugging.level.default"
            isAbstract="false"
            id="com.arc.cdt.toolchain.vc.compilerDebugDebug"
            superClass="arc.compiler.options.debugging.level"/>
     </tool>
         
         <tool
               command="hcvc"
               id="com.arc.cdt.toolchain.vc.Linker"
               isAbstract="true"
               name="MetaWare Linker for VideoCore"
               superClass="com.arc.cdt.toolchain.toolLinker">
             <option
                   category="arc.linker.category.special"
                   commandFalse="-Hnothread"
                   defaultValue="true"
                   id="vc.link.options.threaded"
                   name="Link in multi-threaded runtime libraries"
                   tip="Specify whether or not the runtime libraries need to be multi-threaded"
                   valueType="boolean"/>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.vc.VcApplicabilityCalculator"
                  category="arc.linker.category.special"
                  defaultValue="vc.compiler.options.version.vc01"
                  id="vc.link.options.version"
                  name="Version of runtime library"
                  tip="Specify which runtime library to link in, based on processor version"
                  valueType="enumerated">
               <enumeratedOptionValue
                     command="-Hvc01"
                     id="vc.compiler.options.version.vc01"
                     name="VC01"/>
               <enumeratedOptionValue
                     command="-Hvc02"
                     name="VC02"
                     id="vc.compiler.options.version.vc02"/>
               <enumeratedOptionValue
                     command="-Hvc03"
                     id="vc.compiler.options.version.vc03"
                     isDefault="true"
                     name="VC03"/>
            </option>
            
            <option
                  command="-Hhostlink"
                  id="vc.linker.option.hostlink"
                  isAbstract="false"
                  superClass="arc.link.options.hostlink"
                  tip="Specify whether or not hostlink is to be linked in so that I/O can be done from the host"
                  valueType="boolean"/>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.vc.VcApplicabilityCalculator"
                  id="com.arc.cdt.toolchain.vc.linkerEndian"
                  isAbstract="false"
                  superClass="arc.linker.options.endian"/>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.vc.VcApplicabilityCalculator"
                  category="arc.linker.category.special"
                  command="-fdouble4"
                  id="vc.link.options.fdouble4"
                  isAbstract="false"
                  name="Use library with single-precision &quot;double&quot; (-fdouble4)"
                  resourceFilter="all"
                  tip="Uses C/C++ libraries in which &quot;double&quot; is mapped to 4 bytes"
                  valueType="boolean"/>
         </tool>
         <tool
               command="hcvc"
               isAbstract="true"
               name="VideoCore Assembler"
               id="com.arc.cdt.toolchain.vc.asm"
               superClass="com.arc.cdt.toolchain.assembler">
            <optionCategory
                  name="VideoCore specific"
                  id="com.arc.cdt.toolchain.vc.asm.category.vc"/>
            <option
                  category="com.arc.cdt.toolchain.asm.optionCategory.misc"
                  command="-Hasopt=-d"
                  defaultValue="false"
                  id="com.arc.cdt.toolchain.vc.option.asm.d"
                  isAbstract="false"
                  name="Diagnose undefined symbols"
                  tip="Specify whether or not undefined symbols are to be diagnosed"
                  valueType="boolean"/>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.vc.VcApplicabilityCalculator"
                  category="com.arc.cdt.toolchain.vc.asm.category.vc"
                  id="com.arc.cdt.toolchain.vc.asm.version"
                  isAbstract="false"
                  name="VideoCore version"
                  tip="Specify the processor version"
                  valueType="enumerated">
               <enumeratedOptionValue
                     command="-Hvc01"
                     id="vc.compiler.options.version.vc01"
                     name="VC01"/>
               <enumeratedOptionValue
                     command="-Hvc02"
                     name="VC02"
                     id="vc.compiler.options.version.vc02"/>
               <enumeratedOptionValue
                     command="-Hvc03"
                     id="vc.compiler.options.version.vc03"
                     isDefault="true"
                     name="VC03"/>
            </option>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.vc.VcApplicabilityCalculator"
                  category="com.arc.cdt.toolchain.vc.asm.category.vc"
                  command="-Hasopt=-vc01"
                  defaultValue="false"
                  id="com.arc.cdt.toolchain.vc.asm.vc01"
                  isAbstract="false"
                  name="Warn about vc01 restrictions"
                  tip="Warn about restrictions related to VC01"
                  valueType="boolean"/>
            <option
                  commandFalse="-Hasopt=-nopic"
                  defaultValue="true"
                  id="com.arc.cdt.toolchain.vc.asmpid"
                  isAbstract="false"
                  name="Warn about non-position-independent instructions"
                  tip="Warn about non-position-independent assembly instructions"
                  valueType="boolean"/>
            <option
                  applicabilityCalculator="com.arc.cdt.toolchain.vc.VcApplicabilityCalculator"
                  id="com.arc.cdt.toolchain.vc.asmEndian"
                  isAbstract="false"
                  superClass="arc.assembler.options.endian"/>

         </tool>
         
         
		 <tool
         command="arvc"
         id="com.arc.cdt.toolchain.vc.archiver"
         isAbstract="true"
         name="MetaWare Archiver for VideoCore"
         outputFlag="-r"
         superClass="com.arc.cdt.toolchain.archiver"/>


	      <projectType
             buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.exe"
             id="com.arc.cdt.toolchain.vc.exeProject"
             isAbstract="false"
             >
		 <configuration
         artifactExtension="elf"
         buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
         cleanCommand="rm -rf"
         errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
         id="com.arc.cdt.toolchain.vc.exeDebugConfig"
         name="Debug">
	<toolChain
              id="com.arc.cdt.toolchain.vc.exeToolChainDebug"
              isAbstract="false"
              name="VideoCore"
              superClass="com.arc.cdt.toolchain.toolChain">
	<tool
              id="com.arc.cdt.toolchain.vc.exeCompilerDebug"
              isAbstract="false"
              name="High C/C++ Compiler"
              obsoleteIDs="exe.exeCompilerDebug"
              superClass="com.arc.cdt.toolchain.vc.compilerDebug"/>
			     
        <tool
              isAbstract="false"
              id="com.arc.cdt.toolchain.vc.asmexedebug"
              superClass="com.arc.cdt.toolchain.vc.asmdebug"/>
       <tool
				id="com.arc.cdt.toolchain.vc.exeLinkerDebug"
				superClass="com.arc.cdt.toolchain.vc.Linker"/>

		      </toolChain>
		 </configuration>
         <configuration
               artifactExtension="elf"
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               cleanCommand="rm -rf"
               errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
               id="com.arc.cdt.toolchain.vc.exeReleaseConfig"
               name="Release">
            <toolChain
                  id="com.arc.cdt.toolchain.vc.exeReleaseToolChain"
                  isAbstract="false"
                  name="VideoCore"
                  superClass="com.arc.cdt.toolchain.toolChain">
               <tool
                     id="com.arc.cdt.toolchain.vc.exeCompilerRelease"
                     isAbstract="false"
                     obsoleteIDs="exe.exeCompilerRelease"
                     superClass="com.arc.cdt.toolchain.vc.compiler"/>
                <tool
                     isAbstract="false"
                     id="com.arc.cdt.toolchain.vc.asmexerel"
                     superClass="com.arc.cdt.toolchain.vc.asm"/>
               <tool
                     id="com.arc.cdt.toolchain.vc.exelinkerRelease"
                     isAbstract="false"
                     obsoleteIDs="vc.tool11"
                     superClass="com.arc.cdt.toolchain.vc.Linker"/>
              
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.staticLib"
            id="com.arc.cdt.toolchain.vc.libProject"
            isAbstract="false"
            >
      <configuration
            artifactExtension="a"
            buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
            cleanCommand="rm -rf"
            errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
            id="com.arc.cdt.toolchain.vc.libDebugConfig"
            name="Debug">
         <toolChain
               id="com.arc.cdt.toolchain.vc.libDebugToolChain"
               isAbstract="false"
               name="VideoCore"
               scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.vc.ScannerConfigurationDiscoveryProfile"
               superClass="com.arc.cdt.toolchain.toolChain">
            <tool
                  id="com.arc.cdt.toolchain.vc.libHighCDebug"
                  isAbstract="false"
                  obsoleteIDs="vc.tool12"
                  superClass="com.arc.cdt.toolchain.vc.compilerDebug"/>
            <tool
                  id="com.arc.cdt.toolchain.vc.asmDebugStat"
                  isAbstract="false"
                  obsoleteIDs="asmstat"
                  superClass="com.arc.cdt.toolchain.vc.asmdebug"/>
            <tool
                  id="com.arc.cdt.toolchain.vc.ArDebugStat"
                  isAbstract="false"
                  obsoleteIDs="toolArchiver"
                  superClass="com.arc.cdt.toolchain.vc.archiver"/>
         </toolChain>
 
           
         </configuration>
         <configuration
               artifactExtension="a"
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               cleanCommand="rm -rf"
               errorParsers="com.arc.cdt.toolchain.ARCCompilerErrorParser;com.arc.cdt.toolchain.ARCLinkerErrorParser;com.arc.cdt.toolchain.ARCAssemblerErrorParser;org.eclipse.cdt.core.MakeErrorParser"
               id="com.arc.cdt.toolchain.vc.libReleaseConfig"
               name="Release">
            <toolChain
                  id="com.arc.cdt.toolchain.vc.libReleaseToolChain"
                  isAbstract="false"
                  name="VideoCore"
                  scannerConfigDiscoveryProfileId="com.arc.cdt.toolchain.vc.ScannerConfigurationDiscoveryProfile"
                  superClass="com.arc.cdt.toolchain.toolChain">
               <tool
                     id="com.arc.cdt.toolchain.vc.libHighCRelease"
                     isAbstract="false"
                     obsoleteIDs="vc.tool16"
                     superClass="com.arc.cdt.toolchain.vc.compiler"/>
               <tool
                     id="com.arc.cdt.toolchain.vc.asmReleaseStat"
                     isAbstract="false"
                     obsoleteIDs="asmstat"
                     superClass="com.arc.cdt.toolchain.vc.asm"/>
               <tool
                     id="com.arc.cdt.toolchain.vc.ArReleaseStat"
                     isAbstract="false"
                     obsoleteIDs="toolArchiver"
                     superClass="com.arc.cdt.toolchain.vc.archiver"/>
            </toolChain>
         </configuration>
      </projectType>
      <tool
            id="com.arc.cdt.toolchain.vc.asmdebug"
            isAbstract="false"
            superClass="com.arc.cdt.toolchain.vc.asm">
         <option
               defaultValue="true"
               id="com.arc.cdt.toolchain.vc.asm.option.g"
               isAbstract="false"
               resourceFilter="all"
               superClass="com.arc.cdt.toolchain.asm.option.g"/>
      </tool>
      
    </extension> 
    
    <extension
         id="ScannerConfigurationDiscoveryProfile"
         name="MetaWare C/C++ Scanner Configuration Discovery Profile"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
      <scannerInfoCollector
            class="com.arc.cdt.scannerconfig.HighCScannerInfoCollector"
            scope="project"/>
      <scannerInfoProvider providerId="HighCSpecsFile">
         <run
               arguments="-Hbatchnotmp -Hnoobj ${plugin_state_location}/${specs_file}"
               class="org.eclipse.cdt.make.internal.core.scannerconfig2.GCCSpecsRunSIProvider"
               command="hcvc"/>
         <scannerInfoConsoleParser class="com.arc.cdt.scannerconfig.ARCScannerInfoConsoleParser"/>
      </scannerInfoProvider>
      <buildOutputProvider>
         <scannerInfoConsoleParser
               class="com.arc.cdt.scannerconfig.ARCBuildInfoConsoleParser">
         </scannerInfoConsoleParser>
      </buildOutputProvider>
   </extension> 
   
   <extension
         point="org.eclipse.cdt.make.ui.DiscoveryProfilePage">
      <profilePage
            class="com.arc.cdt.toolchain.ui.HighCDiscoveryPage"
            name="MetaWare C/C++ Includes &amp; Symbol Discovery for VideoCore"
            profileId="com.arc.cdt.toolchain.vc.ScannerConfigurationDiscoveryProfile"/>
   </extension>

</plugin>
