body {
	background-image : url(../graphics/contentpage/blue-grid.jpg);
}

.page { min-height : 2000px; }

/* show the "selected" image for this page */
/*
#navigation-links a#samples img, #navigation-links a#samples:hover img { background-image : url(../graphics/icons/ctool/samples48sel.gif); }
*/

.samples-img {
	position : absolute; 
	top : 160px;
	left : 30px;
	background-repeat : no-repeat;
	margin : 0;
	padding : 0;	
}

/* Lay out the real content of the samples page: */

.samples-group {
	position : relative; 
	top : 120px;
	left : 30px;
	width : 750px;
	/* To center in Moz (have to use text-align for IE) */	
	margin : 0px auto;
	margin-bottom : 10px;
	text-align : left;
	/*float : none;*/
	clear : both;
}

.samples-group H4 { margin-top : 10px; }

.samples-link,.project-link,.toolset-link { 
	width : 360px;
	text-align : left; 
	margin-left : 5px;
	margin-right : 5px;
	margin-top : 10px;
	margin-bottom : -30px;
	vertical-align : top;
}

/* specialize the swt samples group to be spread over only 1 column */
.samples-link,.project-link,.toolset-link { 
	width : 720px;
}

.samples-group > .project-link, .samples-group > .samples-link, .samples-group > .refresh-link {
	float : left;
	height : 100px;
	vertical-align : middle;
}

.project-link .link-label,.toolset-link .link-label {
	display : block;
	width : 300px;
	position : relative;
	top : -50px;
	left : 60px;
}

.samples-link .link-label{
	display : block;
	width : 300px;
	position : relative;
	top : -50px;
	left : 80px;
}

.samples-link .link-label,.project-link .link-label,.toolset-link .link-label {
	width : 600px;	
} 

.samples-link p .text,.project-link p .text,.toolset-link p .text {
	display : block;
	width : 300px;
	position : relative;
	top : -45px;
	left : 53px;
}


.samples-link .text,sample-link .text,.toolset-link .text {
	width : 620px;	
} 

.project-link img,.toolset-link img {
	height : 56px;
	width : 56px;
	vertical-align : top;
}

.samples-link img {
	height : 56px;
	width : 75px;
	vertical-align : top;
}

.samples-link:hover,.project-link:hover,.toolset-link:hover { border-right : 0px; }

.samples-link img {
	background-image : url(../graphics/icons/etool/projects.gif);
}

.samples-link:hover img {
	background-image : url(../graphics/icons/etool/projects_sel.gif);
}

.project-link img {
	background-image : url(../graphics/icons/etool/newcprj_wiz.gif);
}


.project-link:hover img {
	background-image : url(../graphics/icons/etool/newcprj_wiz_sel.gif);
}


.toolset-link img {
	background-image : url(../graphics/icons/etool/samples-icon.gif);
}

.toolset-link:hover img {
	background-image : url(../graphics/icons/etool/samples-icon-onover.gif);
}

/*
#workbench .project-link img {
	background-image : url(../graphics/icons/etool/samples-icon-onover.gif);
}

#workbench .project-link:hover img {
	background-image : url(../graphics/icons/etool/samples-icon-onover.gif);
}
*/

.refresh-link { 
	width : 360px;
	text-align : left; 
	margin-left : 5px;
	margin-right : 5px;
	margin-top : 10px;
	margin-bottom : -30px;
	vertical-align : top;
}

/* specialize the swt samples group to be spread over only 1 column */
.refresh-link { 
	width : 720px;
}

.refresh-link .link-label {
	display : block;
	width : 300px;
	position : relative;
	top : -50px;
	left : 60px;
}

.refresh-link .link-label {
	width : 600px;	
} 

.refresh-link p .text {
	display : block;
	width : 300px;
	position : relative;
	top : -50px;
	left : 53px;
}

.refresh-link .text {
	width : 620px;	
} 

.refresh-link img {
	height : 56px;
	width : 56px;
	vertical-align : middle;
}

.refresh-link:hover { border-right : 0px; }

.refresh-link img {
	background-image : url(../graphics/icons/etool/refresh-icon.gif);
}

.refresh-link:hover img {
	background-image : url(../graphics/icons/etool/refresh-icon-onover.gif);
}

/*
#workbench .refresh-link img {
	background-image : url(../graphics/icons/etool/refresh-icon-onover.gif);
}

#workbench .refresh-link:hover img {
	background-image : url(../graphics/icons/etool/refresh-icon-onover.gif);
}
*/

