<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="com.arc.cdt.importer.internal.ui.CodeWrightImportWizard"
            icon="icons/arc.gif"
            name="Import old MetaDeveloper project space"
            id="com.arc.cdt.importer.wizard">
         <description>
            Import an old pre 7.1 MetaDeveloper project space
         </description>
      </wizard>
   </extension>

</plugin>
