<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.arc.eclipse.aboutMWDebugger"
            label="About MetaWare Toolset"
            visible="true">
         <action
               class="com.arc.cdt.about.actions.AboutMenuAction"
               id="AboutPlugin.aboutMWDebuggerAction"
               label="About MetaWare Toolset"
               menubarPath="help/about"
               style="push"
               tooltip="Display version and licensing information for MetaWare toolset components.">
         </action>
      </actionSet>
   </extension>

</plugin>
