body {
	background-image : url(../graphics/contentpage/blue-grid.jpg);
}

.page { min-height : 700px; }

/* show the "selected" image for this page */
#navigation-links a#tutorials img, #navigation-links a#tutorials:hover img { background-image : url(../graphics/icons/ctool/tutorials48sel.gif); }

.tutorials-img {
	position : absolute; 
	background-repeat : no-repeat;
	margin : 0;
	padding : 0;
	top : 160px;
	left : 30px;
}

/* a group of tutorial links */
.tutorials-group {
	position : absolute; 
	top : 200px;
	left : 160px;	
	/* To center in Moz (have to use text-align for IE) */
	margin : 0px auto;
	margin-bottom : 10px;
	text-align : left;
	float : none;
	clear : both;
}

.tutorials-group H4 { margin-top : 10px; }


.tutorials-link { 
	width : 360px;
	text-align : left; 
	margin-left : 5px;
	margin-right : 5px;
	margin-top : 10px;
	margin-bottom : -30px;
	vertical-align : top;
	
}

/* specialize the swt tutorials group to be spread over only 1 column */
.tutorials-link { 
	width : 720px;
}



.tutorials-group > .tutorials-link {
	float : left;
	height : 150px;
	vertical-align : middle;
}


.tutorials-link .link-label {
	display : block;
	width : 300px;
	position : relative;
	top : -50px;
	left : 60px;
}

.tutorials-link .link-label {
	width : 600px;	
} 

.tutorials-link p .text {
	display : block;
	width : 300px;
	position : relative;
	top : -45px;
	left : 53px;
}

.tutorials-link .text {
	width : 620px;	
} 

.tutorials-link img {
	height : 56px;
	width : 56px;
	vertical-align : middle;
}

.tutorials-link:hover { border-right : 0px; }


.tutorials-link img {
	background-image : url(../graphics/icons/etool/tutorials-icon.gif);
}

.tutorials-link:hover img {
	background-image : url(../graphics/icons/etool/tutorials-icon-onover.gif);
}

/*
#workbench .tutorials-link img {
	background-image : url(../graphics/icons/etool/tutorials-icon-onover.gif);
}

#workbench .tutorials-link:hover img {
	background-image : url(../graphics/icons/etool/tutorials-icon-onover.gif);
}
*/


