body {
	background-image : url(../graphics/contentpage/blue-grid-help-menu.jpg);	
}

.page { 
	background-image : url(../graphics/contentpage/built-on-eclipse.jpg);
	background-repeat : no-repeat;
	background-position : bottom left;
	
	min-height : 700px; 
}

/* show the "selected" image for this page */
#navigation-links a#overview img, #navigation-links a#overview:hover img { background-image : url(../graphics/icons/ctool/overview48sel.gif); }

#quickstart_img {
	position : absolute; 
	background-repeat : no-repeat;
	margin : 0;
	padding : 0;
	top : 160px;
	left : 30px;
}

/* 
 * Set up the Overview links to be displayed in two columns
 * that are centered in the middle of the page.
 */
.overview-links {
	position : absolute;
	top : 220px; 
	left : 160px;
	text-align : left;
	width : 750px;
	float : none;
	/* To center in Moz (have to use text-align for IE) */
	margin : 0px auto;

	
}

.overview-links a { 
	width : 370px;
	text-align : left; 
	
	margin-left : 5px;
	margin-right : 5px;
	margin-top : 5px;
	margin-bottom : -40px;	
	vertical-align : top;
}

.overview-links > a { vertical-align : middle; }

.overview-links a img {
	height : 57px;
	width : 57px;
	vertical-align : middle;
}	

.overview-links a .link-label {
	display : block;
	width : 300px;
	position : relative;
	top : -50px;
	left : 60px;
}

.overview-links a p .text {
	display : block;
	width : 300px;
	position : relative;
	top : -45px;
	left : 53px;
}

/* Special case for Mozilla, because the links are displayed
   in 1 vertical column instead of 2 centered columns */
.overview-links > a { 	width : 700px; }
.overview-links a > .link-label { width : 700px; }
.overview-links a p > .text { width : 700px; }

.overview-links a:hover { border-right : 5px; }

a#tutorials img { background-image : url(../graphics/icons/etool/tutorials-icon.gif); }
a#tutorials:hover img { background-image : url(../graphics/icons/etool/tutorials-icon-onover.gif); }

a#samples img { background-image : url(../graphics/icons/ctool/samples48.gif); }
a#samples:hover img { background-image : url(../graphics/icons/ctool/samples48sel.gif); }

a#startwork img { background-image : url(../graphics/icons/etool/new-workspace-icon.gif); }
a#startwork:hover img { background-image : url(../graphics/icons/etool/new-workspace-icon-onover.gif); }
