<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!--  Extension moved to UI plugin to get around UI initialization problem
	that came to light in Eclipse 3.2. We document the problem in
	com.arc.cdt.debug.seecode.ui.SeeCodeDebugger.
   <extension
         id="SeeCodeDebugger"
         point="org.eclipse.cdt.debug.core.CDebugger">
      <debugger
            class="com.arc.cdt.debug.seecode.core.SeeCodeDebugger"
            cpu="arc,ac,vc,*"
            id="com.arc.cdt.debug.seecode.core.SeeCodeDebugger"
            modes="run"
            name="%SeeCodeDebugger.name"
            platform="*"
            runCommand="com.arc.cdt.debug.seecode.internal.core.RunCommand">
      </debugger>
   </extension>
-->
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="com.arc.cdt.debug.seecode.internal.core.ProcessFactory"
            id="com.arc.cdt.debug.seecode.processFactory">
      </processFactory>
   </extension>
 <!--   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.arc.cdt.debug.seecode.internal.core.SeeCodePreferenceInitializer"/>
   </extension>
   -->

</plugin>
